# c360 PROMOTION API
c360_PROMOTION_API_HOST=localhost
c360_PROMOTION_API_PORT=9009

#  --- C360 Tracking Service -------------------------------------------------
c360_PROMOTION_TRACKING_BASE_URL=http://localhost:8010

# ----- PostgreSQL --------------------------------------------------------
c360_PROMOTION_DB_HOST=localhost
c360_PROMOTION_DB_PORT=5432
c360_PROMOTION_DB_USER=postgres
c360_PROMOTION_DB_PASSWORD=change_me_postgres_password
c360_PROMOTION_DB_NAME=customer360
c360_PROMOTION_DB_SCHEMA=leo_ads

# ----- Redis (customer360-promotions response cache) -------------------------
c360_PROMOTION_REDIS_HOST=localhost
c360_PROMOTION_REDIS_PORT=6580
c360_PROMOTION_REDIS_DB=0
c360_PROMOTION_REDIS_PASSWORD=change_me_redis_password