
###########################################################
# LLM AI Model
###########################################################
GEMINI_MODEL=gemini-3.5-flash
GEMINI_API_KEY=

# MinIO S3 API configuration for storing and retrieving data
MINIO_ROOT_USER=change_me_minio_root_user
MINIO_ROOT_PASSWORD=change_me_minio_root_password

MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001


# S3 bucket list 

APPSFLYER_S3_BUCKET=appsflyer-data
GA4_S3_BUCKET=ga4-data
