# LEO AD SERVER API
LEO_AD_API_HOST=localhost
LEO_AD_API_PORT=9009

#  --- C360 Tracking Service -------------------------------------------------
LEO_AD_TRACKING_BASE_URL=http://localhost:8010

# ----- PostgreSQL --------------------------------------------------------
LEO_AD_DB_HOST=localhost
LEO_AD_DB_PORT=5432
LEO_AD_DB_USER=postgres
LEO_AD_DB_PASSWORD=change_me_postgres_password
LEO_AD_DB_NAME=customer360
LEO_AD_DB_SCHEMA=leo_ads

# ----- Redis (leo-ad-server-api response cache) -----------------------------
LEO_AD_REDIS_HOST=localhost
LEO_AD_REDIS_PORT=6580
LEO_AD_REDIS_DB=0
LEO_AD_REDIS_PASSWORD=change_me_redis_password